*{
    box-sizing: border-box;
}
h1{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 80px;
    font-family: 'sans-serif', Courier, monospace;
    background-color: yellow;
    /* width: fit-content; */
    border: 7px dashed rgb(43, 92, 226);

}
.overline{
    font-family: Courier, monospace;
    background-color: red;
    padding-left: 5px;
    padding-right: 5px;
}

h1 s{
    color: seashell;
    padding-left: 20px;
}

.art{
    display: flex;
    border: 2px solid red;
    height: 300px;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.art div{
    flex: auto;
    margin: 10px;
    min-width: 200px;
    max-width: 500px;
    border: 2px solid green;
}